/* Universal Styles */
body {
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
}

.hide {
  display: none !important;
}

#nav-mobile-hamburger, #nav-mobile-close, #header-nav > ul > li, #header-shopping-cart, #header-shopping-cart-btn, #header-pfp, #cart-icon-delete,
#icon-previous, #icon-next, #minus-icon, #plus-icon, .cart-button, #lightbox-icon-previous, #lightbox-icon-next, #lightbox-icon-close {
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
/* Header .header-left-side .header-right-side */
#header-menu-background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: hsla(0, 0%, 0%, .75);
  z-index: 2;
}
.header-left-side, .header-right-side {
  display: flex;
  align-items: center;
}

#header-logo {
  width: 138px;
  height: 20px;
  margin-left: 1rem;
}
/* Header #header-menu */
#header-nav {
  width: 70%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  z-index: 3;
}

#nav-mobile-hamburger {
  width: 16px;
  height: 15px;
}

#nav-mobile-close {
  width: 14px;
  height: 15px;
}

#header-nav > ul {
  margin-top: 3rem;
}

#header-nav > ul > li {
  margin-bottom: 1.5rem;
  font-weight: 700;
}

/* Header .header-right-side > div */
.header-right-side > div {
  margin-right: 1rem;
}

/* Header header-shopping-cart */
#header-shopping-cart-btn {
  position: relative;
}

#img-shopping-cart {
  width: 22px;
  height: 20px;
}

#img-shopping-cart:hover > path {
  fill: hsla(0, 0%, 0%);
}

#cart-id {
  position: absolute;
  right: -10px;
  top: -5px;
  color: hsl(0, 0%, 100%);
  padding: 0 .5rem;
  border-radius: 500px;
  background-color: hsl(26, 100%, 55%);
  font-weight: 700;
  font-size: .75rem;
}

#shopping-cart {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 30%;
  position: absolute;
  left: 2.5%;
  top: 9%;
  z-index: 4;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  font-weight: 700;
}

#shopping-cart > h2 {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 1.5rem;
}

#shopping-cart-inventory {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color:hsl(219, 9%, 45%);
}

#shopping-cart-inventory.filled {
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  padding: 1.5rem;
}

.cart-filled {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 40px;

}

#cart-item-thumbnail {
  width: 40px;
  height: 40px;
}

#cart-item-total {
  color: hsla(0, 0%, 0%, .75);
  margin-left: 1rem;
}

#cart-icon-delete {
  width: 14px;
  height: 16px;
  margin-left: 1rem;
}

/* Header #header-pfp */
#header-pfp {
  width: 32px;
  height: 32px;
  border: 2px solid transparent;
  border-radius: 50%;
}

#header-pfp:hover {
  border-color: hsl(26, 100%, 55%);
}
/* Main */

/* Main .product-carousel */
.product-carousel {
  position: relative;
}

#icon-next, #icon-previous, #lightbox-icon-previous, #lightbox-icon-next {
  padding: .75rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  z-index: 2;
  top: 50%;
}

.product-carousel > svg:hover > path {
  stroke: hsl(26, 100%, 55%);
}

#icon-previous {
  left: 5%;
}

#icon-next {
  right: 5%;
}

.product-item > img, .product-lightbox-item > img {
  display: block;
  border-radius: 10px;
}

/* Main .product-details */
.product-details {
  padding: 1.5rem;
}

.product-details > span {
  font-weight: 700;
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
}

.product-details > h2 {
  font-weight: 700;
  font-size: 1.75rem;
  margin: 1rem 0;
}

.product-details > div:first-of-type {
  margin-bottom: 1rem;
  line-height: 1.5rem;
  color: hsl(219, 9%, 45%);
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#price-sale {
  font-weight: 700;
  font-size: 1.75rem;
  display: flex;
  align-items: center;
}

#sale-percentage {
  margin-left: .75rem;
  padding: .25rem .5rem;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  border-radius: 5px;
  font-size: 1rem;
}

#price-original {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
}

/* Main .product-cart */
.product-cart {
  font-weight: 700;
}

.cart-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  background-color:hsl(223, 64%, 98%);
  border-radius: 10px;
}

#plus-icon {
  width: 12px;
  height: 12px;
}

#minus-icon {
  width: 12px;
  height: 4px;
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(26, 100%, 55%);
}

.cart-button:hover, #plus-icon:hover, #minus-icon:hover {
  opacity: .5;
}

#cart-icon {
  width: 22px;
  height: 20px;
  margin-right: 1rem;
}

@media (min-width: 576px) {
  #shopping-cart {
    width: 55%;
    height: 25%;
    left: initial;
    right: 2.5%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }

  #shopping-cart-inventory.filled, #shopping-cart > h2 {
    padding: 1rem;
  }

  .cart-button {
    margin: 0 auto;
    padding: .75rem 1rem;
  }

  .product-carousel {
    width: 60%;
  }

  .product-carousel, .product-details {
    margin: 0 auto;
  }

  #product-list {
    margin-bottom: 1rem;
  }

  .product-item > img, .product-list-item, .product-thumbnail, .product-lightbox-thumbnail {
    border-radius: 10px;
  }

  .product-thumbnail-list {
    width: 100%;
  }

  .product-thumbnail-list > ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .product-thumbnail-list > ul > li {
    width: 20%;
  }

  .product-thumbnail:hover {
    opacity: .5;
  }

  li.highlight {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 10px;
  }

  li.highlight > .product-thumbnail, li.highlight > .product-lightbox-thumbnail {
    opacity: .25;
  }

  .product-details > h2 {
    font-size: 2rem;
  }

  .cart-amount, .cart-button {
    width: 50%;
  }
}

@media (min-width: 922px) {
  /* Header */
  header {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }

  #header-menu {
    order: 2;
  }

  #nav-mobile-hamburger, #nav-mobile-close {
    display: none !important;
  }

  #header-nav {
    display: block !important;
    width: auto;
    height: auto;
    position: initial;
    left: initial;
    top: initial;
    padding: initial;
    z-index: initial;
  }

  #header-nav > ul {
    margin-top: 0;
    margin-left: 1.5rem;
    display: flex;
    align-items: center;
  }

  .header-right-side > div {
    margin-right: 1.5rem;
  }

  #header-nav > ul > li {
    color: hsl(219, 9%, 45%);
    margin: 0 0 0 1rem;
    font-weight: 400;
    padding: 2rem 0;
    border-bottom: 5px solid transparent;
  }

  #header-nav > ul > li:hover {
    color: hsl(0, 0%, 0%);
    border-color:hsl(26, 100%, 55%);
  }

  #header-logo {
    margin-left: 0;
  }

  #header-pfp {
    width: 40px;
    height: 40px;
  }

  #shopping-cart {
    width: 35%;
    height: 22%;
    right: 10%;
  }

  #shopping-cart-inventory.filled > .cart-button {
    margin: 0 auto;
  }
  /* Main */
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5rem auto;
  }

  .product-carousel, .product-details {
    width: 45%;
  }

  .product-price {
    flex-direction: column;
    align-items: flex-start;
  }

  #price-sale {
    margin-bottom: .5rem;
  }

  .product-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-amount, .cart-button {
    margin: 0;
  }

  .cart-amount {
    width: 40%;
    padding: .75rem 1rem;
  }

  .cart-button {
    width: 55%;
  }

  /* Main .product-lightbox */
  .product-lightbox {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }

  .product-lightbox-carousel {
    margin-bottom: 1rem;
  }

  .product-lightbox > #lightbox-icon-previous, .product-lightbox > #lightbox-icon-next {
    top: initial;
    bottom: calc(50% + 1rem);
  }

  #lightbox-icon-close {
    position: absolute;
    top: -4.5%;
    right: 0;
  }

  .product-lightbox > #lightbox-icon-previous {
    left: -4.5%;
  }

  .product-lightbox > #lightbox-icon-next {
    right: -4.5%;
  }

  .product-lightbox > .product-thumbnail-list {
    width: 90%;
    margin: 0 auto;
  }
}


@media (min-width: 1200px) {
  #header-nav > ul {
    margin-left: 3rem;
  }

  #header-nav > ul > li {
    margin-left: 2rem;
  }

  .header-right-side > div {
    margin-right: 3rem;
  }

  #shopping-cart {
    width: 25%;
  }

  .product-carousel, .product-details {
    width: 42%;
  }

  .product-details > h2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 1rem 0 2rem 0;
  }

  .cart-amount {
    width: 35%;
  }

  .cart-button {
    width: 60%;
  }
}